﻿@{
    ViewBag.Title = "Index";
}
<title>JayTo Online</title>

<div class="container">
    <div id="w">
        <h1>Jayto Online</h1>
        <h1>Jayto Online</h1>
        <div class="slider">
            <ul class="slides">
                <li class="slide">
                    <figure>
                        <figcaption>Big Bang Theory</figcaption>
                        <img src="~/ImagensCarrousel/aviador.jpg" alt="Camiseta Bazinga" width="500" height="400">
                    </figure>
                </li>
                <li class="slide">
                    <figure>
                        <figcaption>Big Bang Theory</figcaption>
                        <img src="~/ImagensCarrousel/bob caneca.jpg" alt="Breaking Bad" width="500" height="400">
                    </figure>
                </li>
                <li class="slide">
                    <figure>
                        <figcaption>Big Bang Theory</figcaption>
                        <img src="~/ImagensCarrousel/camiseta beer.png" alt="Caneca 2 Dragôes" width="500" height="400">
                    </figure>
                </li>
                <li class="slide">
                    <figure>
                        <figcaption>Big Bang Theory</figcaption>
                        <img src="~/ImagensCarrousel/rayban.jpg" alt="Caneca House Stark" width="350" height="250">
                    </figure>
                </li>
                <li class="slide">
                    <figure>
                        <figcaption>Big Bang Theory</figcaption>
                        <img src="~/ImagensCarrousel/camiseta caveira.jpg" alt="Caneca House Stark" width="350" height="250">
                    </figure>
                </li>
            </ul>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('.slider').glide({
            autoplay: 3500,
            hoverpause: true, // set to false for nonstop rotate
            arrowRightText: '&rarr;',
            arrowLeftText: '&larr;'
        });
    });
</script>



