﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JayTo Online</title>
    <link href="~/Content/Site.css" rel="stylesheet" media="all" type="text/css" />
    <link href="~/Content/styles.css" rel="stylesheet" media="all" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.glide.min.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <!--@Html.ActionLink("Application name", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})-->
                <a class="navbar-brand" href="#">Home</a>

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            Categorias <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Teste</a></li>
                        </ul>
                    </li>
                </ul>

                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Produtos...">
                    </div>

                    <button type="submit" class="btn btn-default">Procurar</button>
                </form>

                <ul class="nav navbar-nav navbar-right">
                    <a class="navbar-brand" href="#">Cadastre-se</a>

                    <a href="#" class="btn btn-default btn-lg">
                        <span class="glyphicon glyphicon-user"></span> Log
                    </a>

                    <a href="#" class="btn btn-default btn-lg">
                        <span class="glyphicon glyphicon-shopping-cart"></span>
                    </a>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            
        </footer>
    </div>
</body>
</html>